<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PetCare</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<div class="navbar">
  <a href="/home" class="homee">Home</a>

  <a href="/about" class="right_">About</a>
    <a href="/payment" class="right_" >Wallet</a>
  <div class="dropdownmenu">
      <button class="dropbutton">Profile</button>
    <div class="dropdownmenu-content">
      <a href="/profile">Open Profile</a>
      <a href="/editprofile">Edit Profile</a>
      <a href="/login">Log Out</a>
    </div>

  </div>
  <div class="dropdownmenu">
    <button class="dropbutton">Browse</button>
    <div class="dropdownmenu-content">
      <a href="#">Petsitters</a>
      <a href="#">Pets</a>
    </div>
  </div>

</div>

<div class="container2">
    <div class="div1">

<h1>About us</h1>
      <h3>We are here to help you and your pets!<br/>
    If you ever feel busy and can't take care of your pet then you chose the right place.<br/>
    If you have lots of free time and wish to have a pet to take care of then you chose the right place.<br/>
    We help petowners to find other petowners or normal people nearby to care for their pets when they can't.<br/>
    The petsitter will be given also money for that but it won't be much since he/she can always agree on a price with the petowner.<br/><br/>
    Sign up now and make the pets happy!</h3>
    </div>
    <div class="div2">
        <img src="../static/images/logoo.jpeg" width="200" height="200">
    </div>
</div>
</body>
</html>