<!DOCTYPE html>
<html>
<head>
<title>PetCare</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="navbar">
  <a href="/home" class="homee">Home</a>

  <a href="/about" class="right_">About</a>
    <a href="/payment" class="right_">Wallet</a>
  <div class="dropdownmenu">
      <button class="dropbutton">Profile</button>
    <div class="dropdownmenu-content">
      <a href="/profile">Open Profile</a>
      <a href="/editprofile">Edit Profile</a>
      <a href="/login">Log Out</a>
    </div>
  </div>

</div>

<div class="mainpage">
    <h2 align="center">Hello {{name}} {{surname}}, Welcome!</h2>
</div>
<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search">
      <button type="submit" class="searchButton">Search</button>
   </div>

</div>

</body>
</html>
