<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <title>PetCare</title>
    </head>

    <body>
    <div class="navbar">
  <a href="/home" class="homee">Home</a>

  <a href="/about" class="right_">About</a>
  <div class="dropdownmenu">
      <button class="dropbutton">Profile</button>
    <div class="dropdownmenu-content">
      <a href="/profile">Open Profile</a>
      <a href="/editprofile">Edit Profile</a>
      <a href="/login">Log Out</a>
    </div>

  </div>
  <div class="dropdownmenu">
    <button class="dropbutton">Browse</button>
    <div class="dropdownmenu-content">
      <a href="#">Petsitters</a>
      <a href="#">Pets</a>
    </div>
  </div>

</div>
        <div id="logout">
			<p><a href="/signup">Logout</a></p>
        </div>
    </body>

</html>